<div class='set-background'>
  <section class="about">
    <h3>About Ann</h3>
    <img></img>
    <p>I am an American Mental Health Counselor who specializes in working with adolescents, children, and family systems. I obtained my B.S. in Psychology (Brigham Young University) and M.A. in Counseling Psychology (The Chicago School of Professional Psychology). In therapy, I utilize an integrative approach based on developing adaptive coping mechanisms and establishing resiliency to nurture wellness. I have  completed the Level 1 Training in Gottman Method Couples Therapy and the Cognitive Processing Therapy training for trauma. I am a native English speaker, fluent in Mandarin and Shanghainese, and speak a little bit of Spanish and am currently learning French.</p>
    <ul>Special areas of interest:
      <li>Couple's counseling</li>
      <li>Multi-cultural counseling</li>
      <li>Strength-based counseling</li>
      <li>Life transitions/ adjustments</li>
     </ul>
     <p>Additional areas of interest: adolescents, anxiety, depression, family therapy, self-esteem, LGBTQQI, gender identity,  religiosity and spirituality, grief and loss, career guidance, eating disorder, suicidal ideation, self harm, and reality/ perceptual distortions.</p>
     <p>I am a Licensed Graduate Professional Counselor (in progress) for the State of Maryland and a National Board Certified Counselor (#668234, in progress).</p>
  </section>
</div>
