<section class='approach'>

  <span class="anchor" id="approach"></span>
  <h3>Approach</h3>

  <p>What is your perception of how therapy works? Does it involve you delving into an unfamiliar territory where you unwillingly release your deepest and darkest secrets? For those who are starting therapy or counseling for the first time, the fears leading up to the experience often overshadow the initial benefits of that first session.</p>
  <p>Therapy does not have to be scary nor does it involve mysterious mind games from your therapist. <strong>My predominant approach to therapy is that it must be individualized and fit the needs of the person seeking therapy.</strong> Therefore, I utilize an integrative approach that allows us to create an individualized treatment plan that is best suited for your specific needs.</p>
  <p>Much like our physical health, our mental health should receive both preventative and reactive care. Therefore, it is not necessary to be in distress to seek help, but rather more conducive long term to maintain wellbeing.</p>
  <p>I offer one-on-one individual therapy, couples counseling, and family therapy.  Due to the uniqueness of each individual, there is no set number of sessions that take place. Also, in order to provide the most flexibility in terms of scheduling, I offer teletherapy over Skype and Facetime.</p>
  <p>Please feel free to <a href="#contact">contact me</a> via email or telephone so that we can create a plan that best meets your needs. </p>

</section>
