.set-background
  background: $accent-color

  .about
    @include outer-container
    clear: both

    h3
      @extend %title-font

      margin-top: 0
      padding-top: 28px

    img
      @include span-columns(3)
      @include shift(1)

    .info
      @include span-columns(8)

      p
        text-align: justify
        text-indent: 1.5em

      p:first-of-type
        margin-top: 0

      p:last-of-type
        margin-bottom: 16px

      ul
        list-style: none

@media only screen and (max-width: 900px)
  .set-background
    .about

      img
        @include span-columns(4)
        @include shift(4)
        margin-bottom: 16px

      .info
        @include span-columns(10)
        @include shift(1)

      h3
        font-size: 16px
      p
        font-size: 12px
      ul
        font-size: 12px
