header
  @include outer-container
  height: 140px

  .wrap-header
    position: fixed
    +display(flex)
    z-index: 1
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5)

  h1
    background: $bg-color
    margin: 0
    padding: .76em 0
    font-size: 48px
    padding-left: 70px
    width: 600px
    z-index: 1

    a:hover
      color: $text-color

  nav
    background: $bg-color
    float: right
    width: 600px
    +display(flex)
    +align-items(center)
    +justify-content(space-around)
    z-index: 1

    a
      display: inline-block
      font:
        size: 16px
        weight: 700

@media only screen and (max-width: 1200px)
  header
    h1
      width: 50vw

    nav
      width: 50vw

@media only screen and (max-width: 900px)
  header
    height: 80px

    h1
      font-size: 19px
      padding-left: 20px

    nav
      a
        font-size: 12px
